.convert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.convert-card {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.convert-field {
  width: 300px;
}

.convert-currencies {
  display: flex;
  gap: 2rem;
}

.convert-amount mat-form-field {
  width: 100%;
}

.button-close {
  position: absolute;
  top: 3%;
  right: 3%;
}

.result-card {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
