<div class="convert-container">
  <mat-card class="convert-card">
    <mat-card-header>
      <mat-card-title>Conversor de moedas</mat-card-title>
      <mat-card-subtitle>Escolha as moedas para converter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="convertForm" class="form-container">
        <div class="convert-currencies">
          <mat-form-field class="convert-field" appearance="fill">
            <mat-label>Moeda de origem</mat-label>
            <input
              type="text"
              placeholder="Moeda de origem"
              matInput
              [matAutocomplete]="originCurrency"
              formControlName="originCurrency"
            />
            <mat-autocomplete #originCurrency="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOriginCurrency | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="convert-field">
            <mat-label>Moeda de destino</mat-label>
            <input
              type="text"
              placeholder="Moeda de destino"
              matInput
              [matAutocomplete]="finalCurrency"
              formControlName="finalCurrency"
            />
            <mat-autocomplete #finalCurrency="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredFinalCurrency | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="convert-amount">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Valor</mat-label>
            <input
              matInput
              type="number"
              placeholder="0"
              formControlName="amount"
            />
            <span matTextPrefix
              >{{ convertForm.value.originCurrency }}&nbsp;</span
            >
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="convertCurrency()">
        Converter
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="convertResult">
    <mat-card-header>
      <mat-card-title>Resultado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ result.amount }} em {{ result.originCurrency }} equivale a</p>
      <p>{{ result.result }} em {{ result.finalCurrency }}</p>
      <p>Taxa de conversão utilizada: {{ result.rate }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-mini-fab
        color="warn"
        class="button-close"
        (click)="closeResult()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
