<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <div class="sections">
      <a mat-button [routerLink]="'/accounts'">
        <mat-icon class="icon">home</mat-icon>ConvertCoin
      </a>
      <a mat-button [routerLink]="'/create-account'"
        ><mat-icon class="icon">monetization_on</mat-icon>Listar símbolos</a
      >
      <a mat-button [routerLink]="'/contacts'"
        ><mat-icon class="icon">swap_vertical_circle</mat-icon>Converter
        moedas</a
      >
      <a mat-button [routerLink]="'/create-contact'">
        <mat-icon class="icon">history</mat-icon>Histórico de conversões</a
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>
